<?xml version="0.0" ?>

<robot name="Lunar_Lander">

################################################################################
# LINKS                                                                        #
################################################################################

  ##### base_link ##############################################################

  <link name="base_link">

    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://model/Lunar_Lander.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="red">
        <color rgba="1.0 0.2 0.2 1.0"/>
      </material>
    </visual>

    <inertial>
      <mass value="50.00"/>
      <inertia ixx="1.849e-01" ixy="1.57e-09" ixz="3.16276e-09" iyy="1.849e-01" iyz="5.295e-08" izz="9.9261e-02"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </inertial>

    <collision>
      <geometry>
        <mesh filename="package://model/Lunar_Lander.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>

  </link>

</robot>
